torch==1.11.0
numpy
torchvision==0.12.0
timm==0.6.11
opacus
datetime==5.4
tqdm==4.64.1
matplotlib
scikit-learn
medmnist==2.1.0
scipy
beautifulsoup4==4.11.1
nbformat==5.5.0
nbconvert==6.4.4
datasets==2.11.0
transformers==4.27.4
torchmetrics==1.1.2
pathlib==1.0.1
setuptools==61.2.0
pandas
kymatio==0.3.0
scikit-image==0.19.3
torch-ema